div.newIncident-container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  max-width: 1120px;

  display: flex;
  align-items: center;
  justify-content: center;
}

div.newIncident-container div.content {
  width: 100%;
  padding: 96px;
  display: flex;
  border-radius: 8px;
  align-items: center;
  background-color: #f0f0f5;
  justify-content: space-between;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}

div.newIncident-container div.content section {
  width: 100%;
  max-width: 380px;
}

div.newIncident-container div.content section h1 {
  margin: 64px 0 32px;
  font-size: 32px;
}

div.newIncident-container div.content section p {
  font-size: 18px;
  color: #737380;
  line-height: 32px;
}

div.newIncident-container div.content form {
  width: 100%;
  max-width: 450px;
}

div.newIncident-container div.content form input,
div.newIncident-container div.content form textarea {
  margin-top: 8px;
}

div.newIncident-container div.content form div.group-buttons {
  display: flex;
}

div.newIncident-container div.content form div.group-buttons button + button {
  margin-left: 8px;
  color: #41414d;
  background-color: #dcdce6;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
